@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(126, 126, 126); 
    color: rgb(253, 253, 253);
}

/* ESTILIZAÇÃO HEADER*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(85, 85, 85);
    z-index: 4;
    height: 50px;
    position: fixed;
    top: 0;

}

.menu-bar {
    margin:0;
    display: flex;
    justify-content: flex-end;
    /*flex-basis: 1040px;*/
    width: 100%;
    height: 100%;
}

.menu-bar ul {
    margin:0;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.menu-bar li {

    list-style: none;
    display: flex;
    align-items: center;

}

.menu-bar a {
    text-decoration: none;
    color: rgb(240, 240, 250);
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-bar a:hover {
    background-color: rgb(240, 240, 250);
    color:rgb(129, 54, 226);

}

/* DEFINIÇÃO E ORGANIZAÇÃO DOS CONTEÚDOS USANDO FLEX*/

#page-content {

    padding-top: 60px;
   /* display: flex;
    max-width: 1040px;
    min-height: 600px;
    height: max-content;
    justify-content: space-between;
*/
}


/*ESTILIZAÇÃO ASIDE*/



aside {
    box-sizing: border-box;
    
}

#explore-aside {
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(85, 85, 85);
    box-shadow: 0 0 0.5em rgb(194, 194, 235);
    margin: 0;
    border-radius: 10px;
    padding: 10px;
}

#explore-aside ul{
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#explore-aside li{
    padding: 5px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    color: rgb(82, 77, 77);
}

#explore-aside li:hover{
    background-color: rgb(194, 194, 235);
}


/* ESTILIZAÇÃO MAIN */

main {
    box-sizing: border-box;
    align-items: center;
    /*flex-basis: 70%;*/

}
.explore-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 0.5em rgb(194, 194, 235);
    background-color: rgb(85, 85, 85);
    padding: 10px;
    margin: 10px;
    margin-top: 0;
}

#explore-tool h1{
    margin: 10px;
}

#search-input{
    
    padding: 0 10px;
    margin: 5px 10px;
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 235);

}

#search-input:focus {
    outline: 2px solid rgb(194, 194, 235);
    box-shadow: 0 0 1em rgb(129, 54, 226);
}

#search-button{
    
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 0;
    background-color: rgb(126, 126, 126); 
    color: white;
    
}

#search-button:hover{
    background-color: rgb(194, 194, 235,0.5);
    color: rgb(129, 54, 226);
}

#search-tool{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

#search-time {
    display: flex;
    width: 90%;
}
#search-time ul{
    display: flex;
    flex-basis: 90%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#search-time li{
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    color: rgb(82, 77, 77);
    
}

.checked{
    background-color: rgb(194, 194, 235);
    color: rgb(129, 54, 226);
}

.unchecked{
    background-color: rgb(194, 194, 235,0.2);
    color: rgb(82, 77, 77);
    
}

#search-time li:hover{
    background-color: rgb(194, 194, 235);
}

.results{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.results h1{
    margin: 0;
    color: rgb(44, 43, 43);
    font-style: italic;
}

.details-search{
    margin: 5px;
    padding: 0;
    color: dimgray;
}

.details-search h4{
    margin:0;
    font-size: smaller;

}

.result-topics{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 0;
    border-top: 1px dashed rgb(194, 194, 235);
}

/*ESTLIZANDO FOOTER*/
footer {
    box-sizing: border-box;
    height: 75px;
    padding: 10px;
    background-color:rgb(126, 126, 126); 
    width: 100%;
    font-size: medium;
    color: rgb(253, 253, 253);
    text-align: center;
}